<div class="wrapper">
    {{ 'style.css' | asset_url | stylesheet_tag }}
{% for collection in collections %}
    <li>
        <a href="{{product.url}}">
    <h1>{{ collection.title }}</h1>
    {% unless collection.description == blank %} 
        <p>{{   collection.description}}</p>
    {% endunless %}

    {% for product in collection.products %}
      
        <img src= {{product | image_url}} alt="{{ product.title }}">
        <h2>{{ product.title }}</h2>
        <h2>{{ product.price |  money_with_currency}}</h2>
        {% else %}
            <p>There is no product in {{collection.title}}</p>
        
        {% endfor %}
        </a>
        </li>
{% endfor %}
</div>

