<div class="wrapper">
    {{ 'style.css' | asset_url | stylesheet_tag }}
{% for collection in collections %}
        
    <h1>{{ collection.title }}</h1>
    {% unless collection.description == blank %} 
        <p>{{   collection.description}}</p>
    {% endunless %}
    
    {% for product in collection.products %}
        <div class="container-box">

        
        <a style="color: {{settings.link_color}}" href="{{product.url}}"> Add to Cart</a>
        <img src= {{product | image_url}} alt="{{ product.title }}">
        <h2>{{ product.title }}</h2>
        <h2>{{ product.price |  money_with_currency}}</h2>
        </div>
        
        {% else %}
            <p>There is no product in {{collection.title}}</p>
        {% endfor %}
        
{% endfor %}
</div>

